Repository koreatogether/04_dht22_dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: trufflehog, quality-check, arduino-syntax

.pre-commit-config.yaml:

repos:
  # Built-in hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^tools/security/
      - id: end-of-file-fixer
        exclude: ^tools/security/
      - id: check-yaml
        exclude: ^tools/security/
      - id: check-json
        exclude: ^tools/security/
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
        files: ^src/python/
      - id: debug-statements
        files: ^src/python/
      - id: name-tests-test
        files: ^tests/

  # Black - code formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.13
        files: ^src/python/|^tools/|^tests/
        exclude: ^tools/security/trufflehog

  # Ruff - fast linting and import sorting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: ["--fix", "--exit-non-zero-on-fix"]
        files: ^src/python/|^tools/|^tests/
        exclude: ^tools/security/trufflehog
      - id: ruff-format
        files: ^src/python/|^tools/|^tests/
        exclude: ^tools/security/trufflehog

  # MyPy - type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [
          types-requests,
          pandas-stubs,
          types-pyserial,
        ]
        files: ^src/python/
        exclude: ^tests/|^tools/

  # Bandit - security linting
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: ["-r", "src/python/", "-f", "json", "-o", "tools/security/bandit-report.json"]
        files: ^src/python/
        pass_filenames: false

  # Safety - dependency vulnerability scanning
  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check
        files: pyproject.toml

  # Custom hooks
  - repo: local
    hooks:
      # Trufflehog - secret detection
      - id: trufflehog
        name: TruffleHog Secret Detection
        entry: python tools/security/trufflehog_check.py
        language: system
        files: ^src/|^tools/|pyproject.toml|README.MD
        exclude: ^tools/security/trufflehog

      # Quality check
      - id: quality-check
        name: Quality Check
        entry: python tools/quality/quality_check.py
        language: system
        files: ^src/python/
        pass_filenames: false

      # Arduino syntax check
      - id: arduino-syntax
        name: Arduino Syntax Check
        entry: python tools/quality/arduino_check.py
        language: system
        files: ^src/arduino/.*\.ino$

# Global configuration
default_language_version:
  python: python3.13

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [trufflehog, quality-check, arduino-syntax]
  submodules: false

Add Windows pre-commit setup tools and guides
  PRECOMMIT_SETUP_GUIDE.md
  fix_precommit_bash.bat
  git_commit_safe.bat
  setup_powershell_profile.ps1
Due: none

Fix security issues: improve .gitignore and remove hardcoded URLs
  .env.example
  .gitignore
  src/python/utils/env_loader.py
  tools/security/security_scan_20250815_094441.json
  tools/security/security_scan_20250815_094625.json
  tools/security/trufflehog_check.py
Due: trufflehog, quality-check

Remove all pre-commit hooks and configuration
  .claude/AI_CODING_GUIDELINES.md
  .claude/settings.local.json
  .env.example
  .github/workflows/quality-security.yml
  .kiro/specs/dht22-monitoring-system/AI_CODING_GUIDELINES.md
  .kiro/specs/dht22-monitoring-system/requirements.md
  .kiro/specs/dht22-monitoring-system/updateDocs.md
  .pre-commit-config-minimal.yaml
  .pre-commit-config.yaml
  .vscode/AI_CODING_GUIDELINES.instructions.md
  PRECOMMIT_SETUP_GUIDE.md
  README.MD
  activate_venv.bat
  activate_venv.ps1
  docs/AI_CODING_GUIDELINES.md
  docs/CODE_QUALITY_GUIDE.md
  docs/release.md
  fix_precommit_bash.bat
  fix_precommit_permanent.ps1
  git_commit_safe.bat
  pyproject.toml
  run_dashboard.bat
  run_quality_check.bat
  setup_powershell_profile.ps1
  src/arduino/dht22_sensor/dht22_sensor.ino
  src/python/dashboard/app.py
  src/python/utils/data_processor.py
  src/python/utils/env_loader.py
  src/python/utils/serial_reader.py
  tools/quality/arduino_check.py
  tools/quality/quality_check.py
  tools/quality/reports/arduino_check_20250815_092916.json
  tools/quality/reports/arduino_check_20250815_095709.json
  tools/quality/reports/quality_report_20250815_095709.json
  tools/reports/integrated_report_20250815_092741.json
  tools/reports/integrated_report_20250815_092819.json
  tools/run_all_checks.py
  tools/security/bandit-report.json
  tools/security/security_scan_20250815_094708.json
Due: trufflehog, quality-check, arduino-syntax

Refactor project structure and update documentation for clarity
  docs/release.md
Due: none

Add metrics analysis tools and reports for DHT22 project
  .coverage
  .pre-commit-config-minimal.yaml
  PRECOMMIT_SETUP_GUIDE.md
  coverage.xml
  docs/release.md
  fix_precommit_bash.bat
  fix_precommit_permanent.ps1
  git_commit_safe.bat
  tests/test_data_processor.py
  tests/test_env_loader.py
  tools/metrics/METRICS_SUMMARY.md
  tools/metrics/arduino_metrics.py
  tools/metrics/integrated_metrics.py
  tools/metrics/pytest.ini
  tools/metrics/python_coverage.py
  tools/metrics/reports/arduino_metrics_20250815_100946.json
  tools/metrics/reports/arduino_metrics_20250815_100946.md
  tools/metrics/reports/integrated_metrics_20250815_101044.json
  tools/metrics/reports/metrics_dashboard_20250815_101044.md
  tools/metrics/reports/python_metrics_20250815_101034.json
  tools/metrics/reports/python_metrics_20250815_101034.md
  tools/metrics/reports/quality_score_20250815_101044.png
  tools/metrics/reports/simple_metrics_20250815_101129.md
  tools/metrics/requirements.txt
  tools/metrics/run_metrics.bat
  tools/metrics/run_metrics_simple.py
Due: trufflehog

시뮬 모드에서 대시보드 수정
  src/python/dashboard/app.py
Due: trufflehog, quality-check

보안이슈2개를 해결한것
  docs/release_02.md
  tools/security/security_scan_20250815_135830.json
  tools/security/security_scan_20250815_135946.json
  tools/security/security_scan_20250815_140126.json
  tools/security/security_scan_20250815_140152.json
  tools/security/trufflehog_check.py
Due: trufflehog

공개저장소 전환 테스트
  .gitignore
  LICENSE
Due: none
